<table class="table" *ngIf="dataHistory.history">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col"><i class="fas fa-temperature-low"></i> Min Temp</th>
      <th scope="col"><i class="fas fa-temperature-low"></i> Max Temp</th>
      <th scope="col"><i class="fas fa-tint"></i> Humidity</th>
      <th scope="col"><i class="fas fa-sun"></i> Weather</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let weatherData of dataHistory.history">
      <td>{{weatherData.currentDate | customDate}}</td>
      <td>{{weatherData.main.temp_min}}</td>
      <td>{{weatherData.main.temp_max}}</td>
      <td>{{weatherData.main.humidity}}</td>
      <td><img [src]="'http://openweathermap.org/img/w/' + weatherData.weather[0].icon + '.png' "></td>
    </tr>
  </tbody>

</table>